In [1]:
import pandas as pd
from collections import Counter
import numpy as np

In [2]:
df_train = pd.read_csv( "./olid-training-v1.0.tsv", sep="\t" )

In [3]:
df_train.head()

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you‚Äôre drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN

In [ ]:
df_train.shape

In [ ]:
df_test_a = pd.read_csv( "./testset-levela.tsv", sep="\t" )
df_test_b = pd.read_csv( "./testset-levelb.tsv", sep="\t" )
df_test_c = pd.read_csv( "./testset-levelc.tsv", sep="\t" )

In [ ]:
df_test_a.shape

In [ ]:
df_test_b.shape

In [ ]:
df_test_c.shape

In [ ]:
Counter( df_train.loc[ (df_train['subtask_a'] == "OFF") & (df_train['subtask_b'] == "TIN"), : ]['subtask_c'] )

In [ ]:
df_train.loc[ (df_train['subtask_a'] == "OFF") & (df_train['subtask_b'] == "TIN"), : ][:5]

In [ ]:
df_train.loc[ (df_train['subtask_b'] == "UNT"), : ][:5]

In [ ]:
df_test_a.head()

In [ ]:
df_test_al = pd.read_csv( './labels-levela.csv', names=['id', 'label'] )

In [ ]:
Counter(df_test_al['label'])

In [ ]:
df_test_bl = pd.read_csv( './labels-levelb.csv', names=['id', 'label'] )

In [ ]:
Counter(df_test_bl['label'])

In [ ]:
df_test_cl = pd.read_csv( './labels-levelc.csv', names=['id', 'label'] )

In [ ]:
Counter(df_test_cl['label'])

In [ ]:
len(set(df_test_a['id']) & set(df_test_c['id']))

In [ ]:
df_merged_a = pd.merge( df_test_a, df_test_al, how='inner', on='id' )

In [ ]:
df_merged_a.shape

In [ ]:
df_merged_b = pd.merge( df_test_b, df_test_bl, how='inner', on='id' )

In [ ]:
df_merged_b.shape

In [ ]:
df_merged_c = pd.merge( df_test_c, df_test_cl, how='inner', on='id' )

In [ ]:
df_merged_c.shape

In [ ]:
df_merged_a.to_csv( "./testset_a.tsv", index=False, sep='\t' )
df_merged_b.to_csv( "./testset_b.tsv", index=False, sep='\t' )
df_merged_c.to_csv( "./testset_c.tsv", index=False, sep='\t' )

In [ ]:
Counter( df_train['subtask_a'] )

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

labels = ['OFF','NOT']
values = [4400,8840]

trace = go.Pie(
        labels=labels, 
        values=values,
        textinfo='percent+label',
)

fig = {
    "data": [trace],
    "layout": {
        "title": "Task A",
    }
}

py.iplot( fig, filename='styled_pie_chart')

In [ ]:
Counter( df_train['subtask_b'] )

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

labels = ['UNT','TIN']
values = [524,3876]

trace = go.Pie(
        labels=labels, 
        values=values,
        textinfo='percent+label',
)

fig = {
    "data": [trace],
    "layout": {
        "title": "Task B",
    }
}

py.iplot( fig, filename='styled_pie_chart')

In [ ]:
Counter( df_train['subtask_c'] )

In [ ]:
import plotly.plotly as py
import plotly.graph_objs as go

labels = ['IND', 'OTH', 'GRP']
values = [2407, 395, 1074]

trace = go.Pie(
        labels=labels, 
        values=values,
        textinfo='percent+label',
)

fig = {
    "data": [trace],
    "layout": {
        "title": "Task C",
    }
}

py.iplot( fig, filename='styled_pie_chart')

In [5]:
df_train.head()

,id,tweet,subtask_a,subtask_b,subtask_c
0,86426,@USER She should ask a few native Americans wh...,OFF,UNT,NaN
1,90194,@USER @USER Go home you‚Äôre drunk!!! @USER #MAG...,OFF,TIN,IND
2,16820,Amazon is investigating Chinese employees who ...,NOT,NaN,NaN
3,62688,"@USER Someone should'veTaken"" this piece of sh...",OFF,UNT,NaN
4,43605,@USER @USER Obama wanted liberals &amp; illega...,NOT,NaN,NaN

In [6]:
from nltk.tokenize import TweetTokenizer

In [7]:
tknzr = TweetTokenizer()

In [8]:
df_train['toks'] = df_train['tweet'].map( lambda x: tknzr.tokenize( x ) )

In [10]:
ls_off = df_train.loc[ df_train['subtask_a'] == "OFF", : ]['toks']
ls_nof = df_train.loc[ df_train['subtask_a'] != "OFF", : ]['toks']

In [11]:
text_off = []
text_nof = []

for w in ls_off:
    text_off += w

for w in ls_nof:
    text_nof += w

In [12]:
len(text_off)

118409

In [14]:
len(ls_off), len(ls_nof)

(4400, 8840)

In [31]:
count_nof = Counter( text_nof )
count_off = Counter( text_off )

In [32]:
fmt_nof = sorted(count_nof.items(), key= lambda x: x[1], reverse=True)[:500]

In [33]:
fmt_off = sorted(count_off.items(), key= lambda x: x[1], reverse=True)[:500]

In [34]:
def tuple_to_key_set( lst ):
    return set([ w[0] for w in lst ])

In [35]:
set_off = list( tuple_to_key_set(fmt_off) - tuple_to_key_set(fmt_nof) )

In [36]:
len(set_off)

90

In [37]:
set_nof = list( tuple_to_key_set(fmt_nof) - tuple_to_key_set(fmt_off) )

In [38]:
len(set_nof)

90

In [39]:
filt_off = [ (w, count_off[ w ]) for w in set_off ]
filt_nof = [ (w, count_nof[ w ]) for w in set_nof ]

In [41]:
filt_nof = sorted( filt_nof, key=lambda x: x[1], reverse=True )
filt_off = sorted( filt_off, key=lambda x: x[1], reverse=True )

In [42]:
filt_nof

[('‚ù§', 153),
 ('Thank', 116),
 ('best', 110),
 ('new', 109),
 ('beautiful', 82),
 ('üëç', 72),
 ('Twitter', 70),
 ('4', 70),
 ('follow', 69),
 ('today', 67),
 ('having', 66),
 ('ago', 66),
 ('Control', 65),
 ('without', 65),
 ('amazing', 64),
 ('stand', 64),
 ('üòç', 63),
 ('conservative', 62),
 ('win', 61),
 ('high', 61),
 ('‚Äò', 61),
 ('ü§î', 61),
 ('please', 59),
 ('#Conservatives', 58),
 ('üôè', 58),
 ('read', 57),
 ('watch', 57),
 ('US', 57),
 ('=', 57),
 ('Or', 55),
 ('üèª', 55),
 ('#KAG', 55),
 ('via', 55),
 ('taking', 54),
 ('#maga', 54),
 ('3', 54),
 ('Thanks', 54),
 ('Can', 54),
 ('looks', 53),
 ('Did', 52),
 ('happy', 52),
 ('#WWG1WGA', 51),
 ('safe', 51),
 ('may', 50),
 ('issue', 50),
 ('agree', 50),
 ('idea', 50),
 ('pretty', 50),
 ('side', 49),
 ('case', 49),
 ('comes', 49),
 ('üëè', 49),
 ('supporters', 49),
 ('Lol', 49),
 ('election', 48),
 ('might', 48),
 ('+', 48),
 ('remember', 48),
 ('sorry', 47),
 ('heard', 47),
 ('ARE', 47),
 ('yes', 47),
 ('less', 46),
 ('story', 45),
 ('word', 45),
 ('ALL', 44),
 ('üòò', 44),
 ('themselves', 44),
 ('6', 44),
 ('behind', 44),
 ('#WalkAway', 44),
 ('ok', 44),
 ('ask', 44),
 ('guys', 43),
 ('course', 43),
 ('between', 43),
 ('Ford', 43),
 ('words', 43),
 ('question', 43),
 ('thank', 42),
 ('For', 42),
 ('team', 42),
 ('Her', 42),
 ('Like', 42),
 ('answer', 42),
 ('telling', 42),
 ('few', 41),
 ('others', 41),
 ('facts', 41),
 ('seems', 41)]

In [45]:
import plotly.plotly as py
import plotly.graph_objs as go

data = [go.Bar(
            x=[ w[0] for w in filt_nof ][:20],
            y=[ w[1] for w in filt_nof ][:20]
    )]

py.iplot(data, filename='basic-bar')

In [46]:
import plotly.plotly as py
import plotly.graph_objs as go

data = [go.Bar(
            x=[ w[0] for w in filt_off ][:20],
            y=[ w[1] for w in filt_off ][:20]
    )]

py.iplot(data, filename='basic-bar')